@import 'components/css/edit-profile-modal.css';
@import 'components/css/new-post-modal.css';
@import 'components/css/image-prev-modal.css';
@import 'components/css/animation.css';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fcf5e5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Header*/
.site-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  padding: 0.8rem 0;
  background: #fff;
}

/* profile section */
.profile-header {
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fcf5e5;
  padding-bottom: 20px;
  border-bottom: 1px solid #212121;
}

/* Profile */
.avatar-section {
  display: flex;
  gap: 20px;
}

.avatar {
  width: 190px;
  height: 190px;
  border-radius: 5px;
}

.avatar-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.avatar-children .avatar-name {
  font-size: 32px;
  color: #212121;
}

.avatar-field {
  font-size: 16px;
  color: #212121b2;
}

.edit-profile {
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 40%;
}

.small-pencil {
  width: 18px;
  cursor: url('https://cur.cursors-4u.net/cursors/cur-11/cur1046.cur'), auto;
}

.edit-btn {
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  color: #212121;
  background: transparent;
  outline: none;
  border: none;
  cursor: url('https://cur.cursors-4u.net/cursors/cur-11/cur1046.cur'), auto;
}
.edit-profile:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

/* New Post Button */
.button-large {
  display: flex;
  align-items: center;
  align-self: self-end;
  gap: 8px;
  padding: 18px 32px;
  background-color: #212121;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}
.button-large:hover {
  opacity: 80%;
  transition: all 0.3s ease-in-out;
}

.btn-plus {
  width: 12px;
  height: 12px;
}

.btn-text {
  font-size: 16px;
  color: #fcf5e5;
}

/*Gallery*/
.site-content {
  margin: 0 auto;
  max-width: 80%;
  padding: 20px 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

figure {
  margin: 0;
  padding: 0;
  width: fit-content;
}

.Images {
  border-radius: 5px;
  object-fit: cover;
}

.Images:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

.Name-heart,
.desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.Name-heart p,
.desc p {
  font-size: 17px;
  font-weight: 500;
  color: #212121;
}

.heart-icon {
  width: 20px;
  height: 20px;
  opacity: 40%;
}
.heart-icon:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

/*footer*/
.site-footer {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #212121;
}

.footertext {
  font-size: 10px;
  color: #666460;
}

/* Media Queries */

@media (max-width: 500px) {
  .profile-header {
    max-width: 90%;
    flex-direction: column;
    align-items: center;
  }

  .avatar-section {
    flex-direction: column;
    align-items: center;
  }

  .avatar-name {
    font-size: 24px;
    align-self: center;
  }

  .avatar-field {
    font-size: 14px;
    align-self: center;
    padding-left: 90px;
    margin-top: 0%;
  }
  .avatar {
    width: 150px;
    height: 150px;
  }

  .avatar-description {
    margin-bottom: 1rem;
    gap: 32px;
  }

  .edit-profile {
    margin-top: 10px;
    align-self: center;
  }

  .button-large {
    width: 100%;
    justify-content: center;
  }

  /* Gallery */
  .site-content {
    margin: 0 auto;
    max-width: 90%;
    padding: 20px 0;
  }

  .Image-container {
    width: 100%;
    margin-bottom: 20px;
    padding-left: auto;
    padding-right: auto;
    align-items: center;
  }

  /* Footer */
  .site-footer {
    width: 90%;
  }
}
