* {
  margin: 0;
  padding: 0;
  background-color: #fcf5e5;
  max-width: 1440px;
}
.header {
  width: 1200px;
  height: 210px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 50px;
  padding-left: 80px;
  border-bottom: 1px #21212166 solid;
}
.avatar {
  width: 190px;
  height: 190px;
}
.avatar-section {
  display: flex;
  gap: 20px;
  width: 505px;
  height: 190px;
}
.avatar-description {
  width: 420px;
  height: 190px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.avatar-children {
  width: 420;
  height: 60;
  gap: 12px;
}
.avatar-field {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 97px;
  height: 16px;
  color: #212121;
}
.secondary-btn {
  width: 120.34px;
  height: 16px;
  opacity: 70%;
  gap: 8px;
  display: flex;
}
.small-pencil {
  width: 18.48px;
  color: #212121;
}
.edit-btn {
  text-decoration: none;
  font-family: Poppins;
  font-weight: 500;
  color: #212121;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 84px;
  height: 16px;
}
.avatar-name {
  font-family: Poppins;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 420px;
  height: 32px;
  color: #212121;
}
.button-large {
  padding: 18px;
  gap: 8px;
  width: 93px;
  height: 20px;
  border-radius: 8px;
  font-family: "poppins";
  background-color: #212121;
  align-items: center;
  display: flex;
  margin-top: 150px;
  margin-right: 55px;
}
.btn-plus {
  background-color: #212121;
  width: 12px;
  height: 12px;
  border: 2px;
}
.btn-text {
  font-family: "Poppins" sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 73px;
  height: 16px;
  text-decoration: none;
  background-color: #212121;
  color: #fcf5e5;
}
main {
  height: 970px;
  padding: 0px 80px;
  font-family: Poppins;
}
.first-main-container {
  height: 60vh;
  width: 100%;
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
}
.Image-container {
  height: 45vh;
  width: 32%;
}
.Name-heart {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Icon {
  height: 20px;
}
.Images {
  height: 22rem;
  border-radius: 15px;
}


.lower-section {
     width: 32%;
     display: flex;
     gap: 25px; 
     margin-top: 80px;
} 

.img-1 img,
.img-2 img,
.img-3 img,
.img-4 img,
.img-5 img,
.img-6 img {
    border-radius: 15px
}

.desc p {
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  font-size: 17px;
}

.Name-heart p {
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  font-size: 17px;  
}

.desc {
  width: 100%;
  display: flex;
  justify-content: space-between; 
}

